{% extends "base.html" %}
{% block title %}DaemonCibSec{% endblock %}
{% block content %}
    <section class="firstsection">
        <div class="box-main">
            <div class="firsthalf">
                <h1 class="text-big" id="web">Cybersecurity Solutions
                </h1>
                <p class="text-small">
                    Experience on labs, CTFs and Bug Bounty programs has granted me the hability over years to recognise vulnerabilities. Hands on practice and self learning has made me able to investigate exploitation tecniques, and interest has moved me forward to practice for myself, create new tools to use for pentesting and red-hat training and made me who I am nowadays.
                </p>
                <p class="text-small">
                    I have experience on pentesting and writing cybersecurity reports, and though I do not offer blue-team services such has hardening, I can give advise to anyone interested.
                </p>
            </div>
        </div>
    </section>
    <section class="secondsection">
        <div class="box-main">
            <div class="firstHalf">
                <h1 class="text-big" id="program">
                    Python programming
                </h1>
                <p class="text-small">
                    From reconnaissance tools to malware, whatever kind of software you require for your CTF or cybersecurity audit, you can request it to me and let me know the details for the project. From something as simple as an automation tool that follows determinated steps, to tools that allow you to do things you normally wouldn't with your browser or even the operative system. Just let me know the details and I'll have it done for you! Of course, all within the legal framework.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="paras">
            <h1 class="sectionTag text-big">Audits</h1>
            <p class="sectionSubTag text-small">
                Though I haven't performed any legal audit except from Bug Bounty programs, I can assure professionalism and confidenciality. I will use all the knowledge in my hand to perform as well as it's needed, always respecting the data of the customer and the integrity of the organisation. Though I lack of real experience, I compensate with knowledge.
            </p>
        </div>
    </section>
    <footer class="background">
        <p class="text-footer">
            Copyright ©-All rights are reserved
        </p>
    </footer>
{% endblock %}
